fastapi
uvicorn[standard]

pydantic-settings

sqlalchemy[asyncio]>=2.0
psycopg[binary]

alembic

celery
redis

minio

slowapi

httpx

openpyxl
python-multipart

pytest
pytest-asyncio

reportlab

# dev-инструменты (линтинг, git-хуки)
ruff
pre-commit
